.container-nav{
    background-color: aquamarine;
    .nav-content{
        display: flex;
        justify-content:space-between;
        align-items: center;
        .logo{
            margin-left: 10px;
            h1{
                font-weight: 600;
                font-size: 25px;
            }
        }
        .logoff{
            margin-right:15px;
        }
    }
}